.playercards-group{
    display: flex;
    flex-direction: row;
}

.overall{
    display: flex;
    flex-direction: column;
}

.searchbar-group{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
}