.sort-button {
  width: 115px;
  height: 30px;
  color: #237afd;
  font-weight: 900;
  background-color: white;
  border: 0.1rem solid #237afd;
  border-radius: 10px;
}

.sort-button:hover {
  color: white;
  background-color: #237afd;
}
