/* Unanimous for all sort-buttons */
.sort-button {
  width: 115px;
  height: 30px;
  color: #237afd;
  font-weight: 900;
  border: 0.5px solid #237afd;
  border-radius: 10px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #237afd;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #237afd;
}

/* Specific for the sort buttons in the group page */
.group {
  background-color: #f7f0ff;
}

.group .arrow-up {
  position: relative;
  left: 6px;
  bottom: 14px;
}

.group .arrow-down {
  position: relative;
  right: 4px;
  top: 14px;
}

.group:hover {
  color: white;
  background-color: #237afd;
}

.group:hover .arrow-up {
  border-bottom: 5px solid #f7f0ff;
}

.group:hover .arrow-down {
  border-top: 5px solid #f7f0ff;
}

.group:hover {
  color: #f7f0ff;
  background-color: #237afd;
}
